@media (max-width:1200px) {
    .header__text {
        padding: 0px 0px 0px 20px;
    }

    .features__body {
        justify-content: space-between;

    }
    .slider__body {
        flex-direction: column;
    }
    .slider__text {
        line-height: 110%;
    }

    .features__item {
        margin: 0px 0px 30px 0px;
    }

}

@media (max-width:951px) {

    .header__title {
        text-align: center;
    }

    .features__info {
        padding: 0px 0px 40px 0px;
    }

    .features__title {
        padding: 0px 0px 10px 0px;
    }

    .features__subtitle {
        font-size: 16px;
        line-height: 110%;
      }

    .features__item {
        flex: 0 1 100%;
    }

    .column__title {
        font-size: 40px;
    }

    .column__subtitle {
        font-size: 17px;
    }

    .column__link {
        bottom: 15px;
    }


    .column__linklong {
        bottom: 60px;
    }

    .about__info {
        padding: 0px 20px 0px 20px;
    }

    .about__body {
        flex-wrap: wrap;

    }

    .about__title {
        text-align: center;
        padding: 0px 0px 10px 0px;
    }

    .about__text {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 120%;
        text-align: center;
    }

    .container {
        padding: 0px 10px;
    }

    .slider__body {
        flex-direction: column;
        align-items: top;
        justify-content: space-between;
    }

    .testimonials {
        padding: 0px 0px 20px 0px;
    }

}


@media (max-width:586px) {

    .header__title {
        font-size: calc(30px + 10 * (100vw / 1920));
    }
    .header__text {
        padding: 0;
    }

    .header__subtitle {
        font-size: 15px;
    }

    .header__subtitle {
        text-align: center;
    }


    .header__image {
        padding: 0px 0px 0px 50px;
    }

    .header__btn {
        margin: 0px 0px 0px 30px;
        border: 2px solid #6338a0;
    }

    .about {
        padding: 0px 0px 30px 0px;
    }

    .about__info {
        flex: 0 1 90%;
        padding: 10px 10px;
    }

    .about__image {
        flex: 0 1 100%;
    }

    .about__title {
        font-size: 25px;
    }

    .about__text {
        font-size: 12px;
        line-height: 110%;
        text-align: center;
    }
    .features {
        padding: 0px 0px 30px 0px;
    }
    .features__body {
        justify-content: start;
    }

    .features__column {
        padding: 5px 0px;
        left: 45%;
    }
    .column__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .column__title {
        font-size: 20px;
    }

    .column__subtitle {
        font-size: 15px;
        line-height: 110%;
    }

    .column__link a {
        font-size: 10px;
        line-height: 110%;
        color: #212353;
    }

    .footer__inner {
        padding: 20px 0px;
    }
    .footer__body {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .footer__about {
        padding: 0px 0px 20px 0px;
    }



}


@media (max-width:400px) {
    .column__title {
        font-size: 14px;
    }

    .column__subtitle {
        padding: 5px 0px 0px 0px;
        font-size: 11px;
        line-height: 110%;
    }

    .column__link {
        bottom: 20px;
    }
}